/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el encabezado */
.header {
    text-align: left; /* Alineamos el texto a la izquierda */
    padding-top: 75px; /* Agregamos margen superior para moverlo hacia abajo */
}

.header h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

/* Estilos para el contenido */
.content {
    display: flex;
    justify-content: space-between;
}

.left-box {
    background-color: #B3C5D4;
    border-radius: 10px;
    margin-top: 10px; /* Margen superior para moverlo hacia abajo */
    width: 200%; /* Ancho del recuadro */
    max-width: 400px; /* Ancho máximo del recuadro */
    height: 400px; /* Altura del recuadro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para los botones dentro del recuadro izquierdo */
.left-box .button {
    padding-top: 40px;
    margin-bottom: 50px; /* Espacio entre los botones */
}

.left-box .btn {
    background-color: #667F93;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 15px 80px; /* Ajusta el tamaño de los botones */
    cursor: pointer;
    width: 100%; /* Los botones ocupan todo el ancho del contenedor */
    font-size: 30px;
}

.left-box .btn:hover {
    background-color: #556A7B;
}

/* Estilos para el recuadro derecho */
.right-box {
    padding: 10px;
    margin-top: 120px; /* Ajusta el margen superior para alinear con el título "HabitAlert" */
}

.right-box h2 {
    font-size: 28px; /* Ajusta el tamaño de la letra del título */
}

.right-box p {
    font-size: 18px; /* Ajusta el tamaño de la letra de los párrafos */
}

/* Estilos para el texto dentro del recuadro derecho */
.centered-right-box {
    text-align: justify; /* Justificar el texto de los párrafos */
}

/* Estilos para los botones */
.button {
    margin-bottom: 10px;
}

.btn {
    background-color: #667F93;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #556A7B;
}
