/* Estilo personalizado para "Inicio" */
.btn-custom {
    background-color: #4D5F6E;
    color: #FFFFFF;

}
.container {
    background-color: #B3C5D4;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.navbar a.nav-link {
    color: black; /* Cambia el color del texto a negro */
}
/* Estilos personalizados */
.fila {
    background-color: #B3C5D4; /* Color de fondo de la fila del encabezado */
}
/* Estilos del navbar */
.navbar-light {
    background-color: #B3C5D4;
}

.nav-link {
    color: #000000; /* Color de texto del navbar */
}

.nav-link.text-white {
    color: #FFFFFF; /* Color de texto del enlace "Salir" */
}

/* Estilos de los botones */
.btn-primary {
    background-color: #667F93;
    color: #FFFFFF;
    border-radius: 20px; /* Borde redondeado */
    margin-right: 10px; /* Espacio entre los botones */
}

/* Estilos de la tabla */
.table {
    margin-top: 20px; /* Espacio entre los botones y la tabla */
    background-color: #667F93;


}
th, td {
    text-align: center;
}


/* Estilos de la fila de encabezado de la tabla */

