<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Mi Página</title>
</head>
<body>
    <div class="container">
        <a class="navbar-brand" ></a>
            <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link btn-custom" >Inicio</a></li>
                    <li><a class="nav-link">Recomendaciones</a></li>
                    <li><a class="nav-link" >Perfil</a></li>
                    <li><a class="nav-link" >Integraciones</a></li>
                </ul>
            </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/app">Salir</a>
            </li>
        </ul>
    </div>

    
    <div class="container2 mt-4">
        <div class="row" >
            <div class="col-md-12">
                    <button type="button" class="btn btn-primary">Nuevo</button>
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-primary">Borrar</button>
            </div>
        </div>
        
        <div >
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll"></th>
                            <th>Frecuencia</th>
                            <th>Etiqueta</th>
                            <th>Sonido</th>
                            <th>Prioridad</th>
                            <th>Posponer</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                        <!-- Agrega más filas según sea necesario -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>