<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="header">
              <h1 style="text-align: left;">HabitAlert</h1>
          </div>
          <div class="content">
            <div class="left-box">
              <div class="input-container">
                  <input type="text" class="rounded-input" placeholder="Nombres">
              </div>
              <div class="input-container">
                  <input type="password" class="rounded-input" placeholder="Apellidos">
              </div>
              <div class="input-container">
                <input type="password" class="rounded-input" placeholder="Coreo">
            </div>
            <div class="input-container">
                <input type="password" class="rounded-input" placeholder="Clave">
            </div>
              <div class="button">
                  <button class="btn" routerLink="/login" >Registrarse</button>
              </div>
          </div>
          
          </div>
      </div>
      <div class="col-md-6">
          <div class="content">
              <div class="right-box centered-right-box">
                  <h2>Acerca de nosotros</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu maximus augue. Donec pulvinar felis at lacinia venenatis. Nullam ut sollicitudin ipsum. Integer eget ultricies nisi, sed aliquam metus. Donec sed pellentesque neque, id pretium sem. Phasellus egestas, urna et sollicitudin efficitur, odio purus aliquet augue, faucibus sollicitudin metus magna ut libero. Fusce volutpat egestas sodales.</p>
                  <p>Vestibulum aliquet, nunc ac condimentum iaculis, est nulla semper orci, eget rutrum orci ante nec risus. Vivamus bibendum dui id nibh convallis interdum. Proin vulputate arcu lacus, ut congue ante convallis ut. Mauris fringilla fringilla tincidunt. Ut libero est, hendrerit pellentesque pharetra eget, egestas et urna. Duis id elit sit amet sem molestie cursus. Aenean venenatis, quam eget pharetra luctus, lectus sapien dapibus dolor, id ultricies ligula est eu turpis.</p>
              </div>
          </div>
      </div>
  </div>
</div>
